.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

.title {
  font-size: 24px;
}

.searchInput {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: transform 0.3s ease;
}

.searchInput:focus {
  transform: scale(1.05);
  border-color: #007bff;
}
